bcrypt==3.2.0
beautifulsoup4==4.10.0
captcha==0.3
cffi==1.14.6
click==8.0.1
Flask==2.0.1
Flask-Pretty==0.2.0
flask-talisman==0.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Pillow==8.3.2
pycparser==2.20
PyJWT==2.1.0
six==1.16.0
soupsieve==2.2.1
tinydb==4.5.2
waitress==2.0.0
Werkzeug==2.0.1
