<header>
	<div id="header-loader"></div>

	<div class="header-container">
		<div id="logo-text" class="heading-container" title="Home page">
			PhotoStore
		</div>

		<div class="navigation-links-container">
			<div class="navigation-buttons-container">
			{% if logged_in %}
				<a href="{{ url_for('profile') }}" title="Profile">
					<div class="icon-container highlight white">
						<img src="{{ url_for('avatar') }}" alt="profile">
					</div>
				</a>
			{% endif %}
				<a href="{{ url_for('community') }}" title="Community">
					<div class="icon-container highlight white">
						<img src="{{ url_for('static', filename='icons/community.png') }}" alt="community">
					</div>
				</a>
			</div>

			{% if logged_in %}
			<div class="link-box">
				<a class="underline" href="{{ url_for('logout') }}">Logout</a>
			</div>
			{% else %}
			<div class="link-box">
				<a class="underline" href="{{ url_for('login') }}">Login</a>
			</div>

			<div class="link-box">
				<a class="underline" href="{{ url_for('signup') }}">Sign up</a>
			</div>
			{% endif %}
		</div>
	</div>
</header>
