{% extends 'layouts/base.html' %}

{% block heading %}
Trending Photos
{% endblock heading %}

{% block content %}
{% include 'partials/images.html' %}

<!-- section separator -->
<hr class="horizontal-separator">

<script src="{{ url_for('static', filename='js/wobbly.js') }}" type="text/javascript" defer></script>

<div class="wobbly-container">
	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/family.png") }}" alt="family">
	</div>

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/family-time.png") }}" alt="family-time">
	</div>

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/selfie.png") }}" alt="selfie">
	</div>

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/fireworks.png") }}" alt="fireworks">
	</div>
</div>
{% endblock content %}
