{% extends 'layouts/base.html' %}

{% block heading %}
Trending Photos
{% endblock heading %}


{% block content %}
{% include 'partials/images.html' %}

<script src="{{ url_for('static', filename='js/wobbly.js') }}" type="text/javascript" defer></script>

<hr style="width:100%;text-align:left;margin-left:0">

{% block title %}
Woobles
{% endblock title %}


<div class="wobbly-container">

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/family.png") }}">
	</div>

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/family-time.png") }}">
	</div>

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/selfie.png") }}">
	</div>

	<div class="wobbly-image-box">
		<img src="{{ url_for('static', filename="images/fireworks.png") }}">
	</div>
</div>
{% endblock content %}