{% extends 'layouts/base.html' %}

{% block title %}
Login
{% endblock title %}

{% block heading %}
Login
{% endblock heading %}

{% block content %}
<form method=post>
	<div class="input-container">
		<label for="username">Username</label>
		<input id="username" type=text name="username"
			placeholder="Username"
			minlength="4" maxlength="32"
			onkeyup="this.value = this.value.replace(/[^0-9A-Z_]+/gi, '');"
			title="Only digits, letters and underscores are allowed!"
			required
		>
	</div>

	<div class="input-container">
		<label for="password">Password</label>
		<input id="password" type=password name="password"
			placeholder="Password"
			minlength="8" maxlength="32"
			title="Password"
			required
		>
	</div>

	{% include 'partials/captcha.html' %}
	<div class="input-container button green">
		<input type=submit value="Submit">
	</div>
</form>
{% endblock content %}
