{% extends 'layouts/base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block heading %}
<script src="{{ url_for('static', filename='js/profile.js') }}" type="text/javascript" defer></script>

<div class="profile-container">
	<div class="username-container">
		<div class="profile-username overflow-ellipsis" title="{{ username }}">{{ username }}</div>

		<form id="avatarForm" action="{{ url_for('avatar') }}" method=post enctype=multipart/form-data>
			<input id="avatarChange" type=file name="avatar" accept="image/*">

			<div id="profile-image" title="Change avatar">
				<img src="{{ url_for('avatar') }}">
			</div>
		</form>
	</div>

	<a class="underline reset-password" href="{{ url_for('reset_pwd') }}" title="Reset password" >Reset password</a>
</div>

<div class="profile-navigation-container">
	<div class="profile-upload-info">
		<span id="numPhotos">loading...</span>

		<a href="{{ url_for('upload') }}" title="Upload image">
			<div class="icon-container highlight black">
				<img src="{{ url_for('static', filename='icons/upload.png') }}">
			</div>
		</a>
	</div>

	<div class="profile-meta-container">
		<div class="profile-meta">
			<span id="numViews">{{ total_views }}</span>
			<img class="icon-container" src="{{ url_for('static', filename='icons/views.png') }}">
		</div>

		<div class="profile-meta">
			<span id="numLikes">{{ total_likes }}</span>
			<img class="icon-container" src="{{ url_for('static', filename='icons/like.png') }}">
		</div>
	</div>

</div>
{% endblock heading %}

{% block content %}
{% include 'partials/images.html' %}
{% endblock content %}
