{% extends 'layouts/base.html' %} {% block title %} Profile {% endblock title %} {% block heading %}
<script src="{{ url_for('static', filename='js/profile.js') }}" type="text/javascript" defer></script>

<div class="profile-container">
    <div class="username-container">
        <div class="profile-username overflow-ellipsis" title="{{ username }}">{{ username }}</div>

        <form id="avatarForm" action="{{ url_for('avatar') }}" method=post enctype=multipart/form-data>
            <input id="avatarChange" type=file name="avatar" accept="image/*">

            <div id="profile-image" title="Change avatar">
                <img src="{{ url_for('avatar') }}">
            </div>
        </form>
    </div>
    <div class="reset-password" title="Reset Password">
        <a href="{{url_for('reset_pwd') }}" title="Reset Password" class="underline">Reset Password</a>
    </div>
</div>

<div class="profile-navigation-container">
    <div class="profile-upload-info">
        <span id="numPhotos">loading...</span>

        <a href="{{ url_for('upload') }}" title="Upload image">
            <div class="icon-container highlight black">
                <img src="{{ url_for('static', filename='icons/upload.png') }}">
            </div>
        </a>
    </div>

    <div class="profile-meta-container">
        <div class="profile-meta">
            <span id="numViews">{{ totalViews }}</span>
            <img class="icon-container" src="{{ url_for('static', filename='icons/views.png') }}">
        </div>

        <div class="profile-meta">
            <span id="numLikes">{{ totalLikes }}</span>
            <img class="icon-container" src="{{ url_for('static', filename='icons/like.png') }}">
        </div>
    </div>

</div>
{% endblock heading %} {% block content %} {% include 'partials/images.html' %} {% endblock content %}