{% extends 'layouts/base.html' %}

{% block title %}
Reset password
{% endblock title %}

{% block heading %}
Reset password
{% endblock heading %}

{% block content %}
<form method="POST">
	<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

	<div class="input-container">
		<label for="current-password">Current password</label>
		<input id="current-password" type="password" name="current-password" placeholder="Current password" minlength="8" maxlength="32" title="Current password" required>
	</div>

	<div class="input-container">
		<label for="new-password">New password</label>
		<input id="new-password" type="password" name="new-password" placeholder="New password" minlength="8" maxlength="32" title="New password" required>
	</div>

	<div class="input-container">
		<label for="confirm-new-password">Confirm password</label>
		<input id="confirm-new-password" type="password" name="confirm-new-password" placeholder="Confirm password" minlength="8" maxlength="32" title="Confirm password" required>
	</div>

	{% include 'partials/captcha.html' %}

	<div class="input-container button green">
		<input type="submit" value="Submit">
	</div>
</form>
{% endblock content %}
