{% extends 'layouts/base.html' %}

{% block title %}
Reset password
{% endblock title %}

{% block heading %}
Reset password
{% endblock heading %}

{% block content %}
<form method=post>
	<div class="input-container">
		<label for="cupassword">Current password</label>
		<input id="cupassword" type=password name="cupassword" placeholder="Current password" minlength="8" maxlength="32" title="Current password" required>
	</div>

	<div class="input-container">
		<label for="npassword">New password</label>
		<input id="npassword" type=password name="npassword" placeholder="New password" minlength="8" maxlength="32" title="New password" required>
	</div>

	<div class="input-container">
		<label for="npassworda">Confirm password</label>
		<input id="npassworda" type=password name="npassworda" placeholder="Confirm password" minlength="8" maxlength="32" title="Confirm password" required>
	</div>

	{% include 'partials/captcha.html' %}

	<div class="input-container button green">
		<input type=submit value="Submit">
	</div>
</form>
{% endblock content %}
