{% extends 'layouts/base.html' %} {% block title %} Reset Password {% endblock title %} {% block heading %} Reset Password {% endblock heading %} {% block content %}
<form method=post>
    <div class="input-container">
        <label for="cupassword">Current Password</label>
        <input id="cupassword" type=password name="cupassword" placeholder="Current Password" minlength="8" maxlength="32" title="Password" required>
    </div>

    <div class="input-container">
        <label for="npassword">New Password</label>
        <input id="npassword" type=password name="npassword" placeholder="New Password" minlength="8" maxlength="32" title="Password" required>
    </div>

    <div class="input-container">
        <label for="npassworda">New Password(again)</label>
        <input id="npassworda" type=password name="npassworda" placeholder="New Password(again)" minlength="8" maxlength="32" title="Password" required>
    </div>

    {% include 'partials/captcha.html' %}
    <div class="input-container button green">
        <input type=submit value="Submit">
    </div>
</form>
{% endblock content %}