{% extends 'layouts/base.html' %}

{% block title %}
Sign up
{% endblock title %}

{% block heading %}
Sign up
{% endblock heading %}

{% block content %}
<form method=post>
	<div class="input-container">
		<label for="username">Username</label>
		<input id="username" type=text name="username"
			placeholder="Username"
			minlength="4" maxlength="32"
			title="Only alphabets, digits and underscores are allowed"
			required
		>
	</div>

	<div class="input-container">
		<label for="password">Password</label>
		<input id="password" type=password name="password"
			placeholder="Please make me strong"
			minlength="8" maxlength="32"
			title="Please make me strong!!!"
			required
		>
	</div>

	<div class="input-container">
		<label for="confirm-password">Confirm Password</label>
		<input id="confirm-password" type=password name="confirm-password" placeholder="Confirm Password"
			minlength="8" maxlength="32"
			title="Type it again, do you remember it?"
			required
		>
	</div>

	{% include 'partials/captcha.html' %}

	<div class="input-container button green">
		<input type=submit value="Submit">
	</div>
</form>
{% endblock content %}
